{% extends "nav_template.html"%}
{% block main_container %}
<!-- 검색 항목 추가 필요 -->
<form action="">
    <div>
        <h3>각 문항 정답</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th>Question number</th>
                <th>First question</th>
                <th>Second question</th>
                <th>Third question</th>
                <th>Fourth question</th>
                <th>Fifth question</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4>answer</h4>
                </td>
                {% for question in question_list%}
                <td>
                    <h4>{{question.answer}}</h4>
                </td>
                {%endfor%}
            </tr>
        </tbody>
    </table>
    <hr>
    <h2>선수별 문제 풀이</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>player name</th>
                <th>First question</th>
                <th>Second question</th>
                <th>Third question</th>
                <th>Fourth question</th>
                <th>Fifth question</th>
                <th>Total Scroe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NO주현</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>100</td>
            </tr>
            </tr>
            <tr>
                <td>강하늘</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>100</td>
            </tr>
            <tr>
                <td>한요한</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>왕석천</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Oh!지수</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>덕재쿵야</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>유진 초이</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>경하(경하 하이 라는 뜻)</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>오고계시죠~(-동철-)</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>경유조(휘발유X)</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>단영지</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>박정민</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>총명준</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>
            <tr>
                <td>0명윤</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>100</td>
            </tr>

        </tbody>
    </table>
    <table>
        <thead></thead>
    </table>
</form>
</main>
{% endblock %}