{% extends "nav_template.html"%}
{% block main_container %}
<!-- 처음 입력칸 -->

<title>문제들</title>

<h2>문항</h2>
<form action="">
    <div class="mb-3 mt-3">
        {% for question in question_list%}
        <div>
            <h3>{{loop.index}}.{{ question.question }}  <span>점수 : {{question.points}} </span></h3>
        </div>
        <div>1.{{question.options1}}</div>
        <div>2.{{question.options2}}</div>
        <div>3.{{question.options3}}</div>
        <div>4.{{question.options4}}</div>
        </div>
        <hr>
        {%endfor%}

    </div>



<!-- 여기에 이름과 비번 입력 폼 추가하면 좋을듯? -->
    <button type="submit" class="btn btn-primary" formaction="/exam" formmethod="post">Let's Solve the Problem!</button>

</form>
{% endblock %}